body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #1e1e1e, #2b2b2b);
    color: white;
    text-align: center;
}

h1 {
    margin-top: 100px;
    font-size: 50px;
    color: #00aaff;
    text-shadow: 0 0 20px #00aaff;
}

p {
    font-size: 20px;
    color: #cccccc;
}
